.about-content {
        padding-top: 130px;
    }

    .tp-heading {
        color: #f05c2b;
        font-weight: bold;
    }

    .sec-heading {
        font-size: 2.9rem;
        color: rgb(78, 75, 75);
        font-family: sans-serif;
        font-weight: bold;
    }

    .second-top h1 {
        color: #f05c2b;

    }

    .vission {
        border: 1px solid rgb(106, 101, 101);
        border-radius: 20px;
        margin-top: 40px;
    }

    .vission h4 {
        align-items: center;
    }

    .vission i {
        color: #f05c2b;
        align-items: left;
        height: 20px;
    }

    .heading {
        background: #F1DE4D;
        background: linear-gradient(90deg, rgba(241, 222, 77, 1) 29%, rgba(255, 84, 30, 1) 73%);
        color: rgb(255, 255, 255);
    }

    .hd-second .colum-one {
        background-color: white;
        border: 2px solid #fc6f27;
        border-radius: 20px;
        margin-top: 50px;
        color: rgb(55, 53, 53);
        height: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px;
    }

    .hd-second .colum-one h1 {
        color: #e8681e;
    }

    .head {
        color: rgb(144, 140, 140);
    }