  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .hero-subtitle{
    color: #f05c2b;
    font-weight: 700;
    margin-top: 10%;
  }
  .hero-title{
    font-size: 3rem;
  }

  .border-style{
    border-bottom: 3px solid #ffffff;
    padding-bottom: 0.5%;
  }
  
  
  @media only screen   
  and (min-device-width : 320px)   
  and (max-device-width : 640px)  
  { }






  @media only screen   
  and (min-width: 1030px)   
  and (max-width: 1605px)  
  { }

